[submodule "squirrel"]
	path = squirrel
	url = ../../arfc/squirrel
[submodule "moose"]
	path = moose
	url = ../../idaholab/moose
[submodule "crane"]
	path = crane
	url = ../../lcpp-org/crane
[submodule "elk"]
	path = elk
	url = git@hpcgitlab.hpc.inl.gov:idaholab/elk.git
